# Dusty

`dusty` provides a fast way to clean up your git repository.
It will list your local branches that match provided filters (age, merged, etc).

They can be pruned with the `-p` flag.

This was created to help manage very active mono repositories with thousands of branches.

## Requirements
* `make`
* `git`
* Go `1.24` or newer

## Installation
You can install `dusty` directly using `go install`:

```sh
go install github.com/dlactin/dusty@latest
```

# Flags
| Flag | Shorthand | Description | Default |
| :--- | :--- | :--- | :--- |
{{- range .Flags }}
| `--{{ .Name }}` | `{{ .Shorthand }}` | {{ .Usage }} | `{{ .Default }}` |
{{- end }}

# Examples
{{ .Example }}